{% extends "base.html.twig" %}

{% block body %}
	<script src="https://cdn.jsdelivr.net/npm/places.js@1.17.1"></script>

		<div class="card shadow mb-4 ">
			<a href="#collapseCardAjout" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardAjout">
                <h6 class="m-0 font-weight-bold">Enregistrer une visite</h6>
            </a>

            <div class="collapse" id="collapseCardAjout">
            	<div class="card-body">
            		<form class="user" method="POST" action="{{ path('creationVisite') }}" autocomplete="off">
            			<div class="form-group row">
                            <div class="form-group col-md-3">
                                <select class="custom-select col-sm-12" id="praticien" name="praticien">
                                    <option selected value="">Sélectionner un praticien</option>
                                    {% for praticien in listePraticiens %}
                                        <option value="{{ praticien.idPraticiens }}">{{ praticien.prenom }} {{ praticien.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                {% if is_granted('ROLE_RESPONSABLE') %}
                                    <select class="custom-select col-sm-12" id="visiteur" name="visiteur">
                                        <option selected value="">Sélectionner un visiteur</option>
                                        {% for visiteurRegion in listeVisiteurs %}
                                            {% set visiteur = visiteurRegion.matricule.matricule %}
                                            <option value="{{ visiteur.Id }}">{{ visiteur.prenom }} {{ visiteur.nom }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <select class="custom-select col-sm-12" id="visiteur" name="visiteur">
                                        <option selected value="{{ matricule }}">{{ matricule }}</option>
                                    </select>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="date_visite">Date Visite</span>
                                    </div>
                                    <input type="date" class="form-control" placeholder="Date Visite" name="date_visite" aria-label="Date Visite" aria-describedby="date_visite" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="input-group col-md-9">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Motif</span>
                                </div>
                                <input type="textarea" class="form-control" aria-label="Motif" name="motif" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="convaincu" name="convaincu">
                                    <label class="custom-control-label" for="convaincu">Convaincu</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="visite_planifiee">Contrevisite</span>
                                    </div>
                                    <input type="date" class="form-control" placeholder="Contrevisite" name="contre_visite" aria-label="Contrevisite" aria-describedby="visite_planifiee">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="submit" class="btn btn-success" value="Enregistrer une visite">
                            </div>
                        </div>
            		</form>
            	</div>
            </div>
		</div>

        <div class="card shadow mb-4">
            <a href="#collapseCardRecherche" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardRecherche">
                <h6 class="m-0 font-weight-bold">Liste des visites</h6>
            </a>

            <div class="collapse" id="collapseCardRecherche">
                <div class="card-body">
                    {% if is_granted('ROLE_RESPONSABLE') %}
                        <div class="form-group row">
                            <div class="form-group col-md-3">
                                <select class="custom-select" id="selectVisiteur">
                                    <option selected value="">Choix d'un visiteur</option>
                                    {% for visiteurRegion in listeVisiteurs %}
                                        {% set visiteur = visiteurRegion.matricule.matricule %}
                                        <option value="{{visiteur.prenom }} {{visiteur.nom }}">{{visiteur.prenom }} {{ visiteur.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <button type="button" class="btn btn-success">Rechercher</button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-liste" role="tabpanel" aria-labelledby="pills-liste-tab">
                            <table id="listePraticien" style="width:100%;" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID Visite</th>
                                        <th>Praticien</th>
                                        <th>Visiteur</th>
                                        <th>Date de la visite</th>
                                        <th>Convaincu</th>
                                        <th>Contre Visite</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visite in listeVisites %}
                                        <tr>
                                            <td>{{ visite.idVisite }}</td>
                                            <td>{{ visite.idPraticiens.prenom }} {{ visite.idPraticiens.nom }}</td>
                                            <td>{{ visite.matricule.matricule.prenom }} {{ visite.matricule.matricule.nom }}</td>
                                            <td>{{ visite.dateVisite|date('d/m/Y') }}</td>
                                            <td>
                                                {% if visite.convaincu == 1 %}Oui{% else %}Non{% endif %}
                                            </td>
                                            <td>{{ visite.visitePlanifie|date('d/m/Y') }}</td>
                                            <td>
                                                <button type="button" name="modif_{{visite.idVisite}}" class="btn btn-warning btn-sm btn-block" data-toggle="modal" data-target="#modalModification"><i class="fas fa-pencil-alt"></i> Modifier</button>
                                                <button type="button" name="suppr_{{visite.idVisite}}" class="btn btn-danger btn-sm btn-block"><i class="fas fa-times"></i> Supprimer</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}