<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche de frais</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <h5  align="center">ETAT DE FRAIS ENGAGES<h5>


    <div align="left">Visiteur : {{ user.getId }}     {{ user.getNom }}  {{ user.getPrenom }}  </div>
    <p></p>
    <div  align="left"> Mois : {{ fiche.mois|date("m/Y") }} </div>

<h3 align="center"> Frais forfaitaires</h3>
<table  align="center" class="table table-dark">
   <thead>
        <tr>
            <th>Frais forfaitaires</th>
            <th>Quantité</th>
            <th>Montant unitaire</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% set total = 0 %}    
        {% for fraisForfait in listeForfaitaires %}
        {% set total = total + fraisForfait.getTotal %}
        <tr>
            <td>{{ fraisForfait.typeFrais.nom }}</td>
            <td>{{ fraisForfait.quantite }}</td>
            <td>{{ fraisForfait.typeFrais.prixunitaire }} €</td>
            <td>{{ fraisForfait.getTotal }} €</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3 align="center"> Autres Frais</h3>
<table align="center"  class="table table-dark"> 
   <thead>
        <tr>
            <th>Libellé</th>
            <th>Date</th>
            <th>Montant </th>
        </tr>
    </thead>
    <tbody>
        {% for fraisHForfait in listeHorsForfait %}
        {% set total = total + fraisHForfait.montant %}
        <tr>
            <td>{{ fraisHForfait.nomHorsforfait }}</td>
            <td>{{ fraisHForfait.dateHorsforfait|date("d/m/Y")}}</td>
            <td>{{ fraisHForfait.montant }} €</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
<table align="center"  class="table table-dark">

  <tr>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
    <th> Total : </th>
     <th></th>
    <th>{{ total }} €</th>
     </tr>
     
</table>
<p><tt>
<sup>1</sup>
Les frais forfaitaires doivent être justifiés par une facture acquittée faisant apparaître le montant de la TVA.
Ces documents ne sont pas à joindre à l’état de frais mais doivent être conservés pendant trois années. Ils
peuvent être contrôlés par le délégué régional ou le service comptable </tt></p>
<p><tt>
<sup>2</sup>
Tarifs en vigueur au 01/09/2019 </tt></p>
<p><tt>
<sup>3</sup> Prix au kilomètre selon la puissance du véhicule déclaré auprès des services comptables<p>
<tt>-(Véhicule 4CV Diesel) 0.52 € / Km </tt> </p> <p>
<tt>- (Véhicule 5/6CV Diesel) 0.58 € / Km</tt></p> <p>
<tt>- (Véhicule 4CV Essence) 0.62 € / Km</tt></p> <p>
<tt>- (Véhicule 5/6CV Essence) 0.67 € / Km </tt></p>
<p><tt>
<sup>4</sup>
Tout frais « hors forfait » doit être dûment justifié par le téléchargement d’une facture acquittée faisant
apparaître le montant de TVA.
</tt></p>
</body>
</html>