{% extends "base.html.twig" %}

{% block body%}
<div class="row">
    <div class="col-sm-2 mb-3 mb-sm-0">
        <button class="btn btn-success col-sm-12" id="Saisir" type="button" data-toggle="modal" data-target="#modalSaisirFrais"><i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Ajouter un frais pour le mois en cours</button>
    </div>
    <div class="col-sm-2 mb-3 ">
    </div>
</div>


<!-- Modal saisir frais forfaitaires -->
<div class="modal fade" id="modalSaisirFrais" tabindex="-1" role="dialog" aria-labelledby="modalSaisirFrais" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <form action="{{ path('ajouterFrais') }}" method="POST" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Saisir un frais pour le mois en cours</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="exampleFormControlSelect1">Type de frais</label>
                        <select class="form-control" id="typeFrais" name="typeFrais">
                            <option value="0" selected="selected">Frais forfaitaires</option>
                            <option value="1" >Frais Hors forfait</option>
                            
                        </select>
                    </div>
                    <div class="col-sm-6" id="typeFraisForfaitaires">
                        <label for="exampleFormControlSelect1">Frais forfaitaires</label>
                        <select class="form-control" name="typeFraisForfaitaires">
                            {% for refForfait in listeRefForfait %}
                                <option value="{{ refForfait.nom }}">{{ refForfait.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-sm-12" id="quantite">
                        <label for="exampleFormControlSelect1">Quantité</label>
                        <input type="number" class="form-control" name="quantite"  value="1"/>
                    </div>
                    <div class="col-sm-6" id="libelle">
                        <label for="exampleFormControlSelect1">Libellé</label>
                        <input type="text" class="form-control" name="libelle"/>
                    </div>
                    <div class="col-sm-6" id="montant" >
                        <label for="exampleFormControlSelect1">Montant</label>
                        <input type="number" step="0.01" class="form-control" name="montant" value="0"/>
                    </div>
                    <div class="col-sm-12">
                        <br>
                    </div>
                    <div class="col-sm-6" id="date">
                        <label for="exampleFormControlSelect1">Date</label>
                        <input type="date" class="form-control" name="Date" value="{{"now"|date("Y-m-d")}}"/>
                    </div>
                    <div id="facture" class="col-sm-6">
                        <label for="exampleFormControlSelect1">Facture</label>
                        <input type="file" class="form-control" name="facture">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
            
        </form>
    </div>
  </div>
</div>
{# Script pour la partie de création des frais #}
<script type="text/javascript">
    $(document).ready(function() {
        // Par défaut frais forfaitaires donc on cache les champs hors forfais
        $('#libelle').hide();
        $('#date').hide();
        $('#montant').hide();
        $('#facture').hide();

        $('#typeFrais').change(function()
        {
            var typeFrais = $(this).val();

            // Si frais forfaitaires
            if(typeFrais == 0)
            {
                $('#typeFraisForfaitaires').show();
                $('#quantite').show();
                $('#libelle').hide();
                $('#date').hide();
                $('#montant').hide();
                $('#facture').hide();
            } else if(typeFrais == 1)
            {
                $('#typeFraisForfaitaires').hide();
                $('#libelle').show();
                $('#quantite').hide();
                $('#date').show();
                $('#montant').show();
                $('#facture').show();
            }
        })
    });
</script>
<br />
<div class="row">
    <div class="col-sm-12">
        {# Barre de navigation #}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="fraisForfaitaires-tab" data-toggle="tab" href="#fraisForfaitaires" role="tab" aria-controls="fraisForfaitaires" aria-selected="true">Frais Forfaitaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="fraisHorsForfait-tab" data-toggle="tab" href="#fraisHorsForfait" role="tab" aria-controls="fraisHorsForfait" aria-selected="false">Frais hors forfaits</a>
            </li>
        </ul>
        {# Contenu des barre de navigation #}
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="fraisForfaitaires" role="tabpanel" aria-labelledby="fraisForfaitaires-tab">
                <table id="listeFrais" style="width:100%;" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Type de frais forfaitaires</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Valide</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fraisForfait in listeForfaitaires %}
                        <tr>
                            <td>{{ fraisForfait.typeFrais.nom }}</td>
                            <td>{{ fraisForfait.quantite }}</td>
                            <td>{{ fraisForfait.typeFrais.prixunitaire }} €</td>
                            <td>{% if fraisForfait.idFrais.valide %}Oui{% else %}Non{% endif %}</td>
                            <td><button type="button" class="btn btn-danger btn-sm btn-block" name="{{ fraisForfait.idFrais.idFrais }}" data-toggle="modal" data-target="#modalSupprimer"><i class="fas fa-trash-alt"></i> Supprimer</button></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="fraisHorsForfait" role="tabpanel" aria-labelledby="fraisHorsForfait-tab">
                 <table id="listeHFrais" style="width:100%;" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Libellé de frais hors forfaits</th>
                            <th>Montant</th>
                            <th>Date</th>
                            <th>Facture</th>
                            <th>Valide</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fraisHForfait in listeHorsForfait %}
                        <tr>
                            <td>{{ fraisHForfait.nomHorsforfait }}</td>
                            <td>{{ fraisHForfait.montant }} €</td>
                            <td>{{ fraisHForfait.dateHorsforfait|date("d/m/Y")}}</td>
                            <td>
                                <a href="{{asset('gestionFrais/' ~ fraisHForfait.facture )}}">
                                    <div style="height:100%;width:100%">
                                    Télécharger la facture
                                    </div>
                                </a>
                            </td>
                            <td>{% if fraisHForfait.idFrais.valide %}Oui{% else %}Non{% endif %}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Modal de suppression d'un frais-->
        <div class="modal fade" id="modalSupprimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Suppression d'un frais</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Etes vous sur de vouloir supprimer ce frais ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <a role="button" id="boutonSupprimer" href="#" class="btn btn-primary">Supprimer le frais</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#modalSupprimer').on('show.bs.modal', function (e)
                {
                    var idFrais = e.relatedTarget.name;
                    $('#boutonSupprimer').attr("href" , "SupprimerFrais/" + idFrais);
                });
            });
        </script>
    </div>
</div> 

{% endblock %}