<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Projet LBC - Inscription</title>

   <!-- Custom fonts for this template-->
  <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{asset('css/sb-admin-2.min.css')}}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Création d'un compte</h1>
              </div>
              <form class="user" method="POST" oninput='RepeatPassword.setCustomValidity(RepeatPassword.value != password.value ? "Les mot de passe ne sont pas identiques" : "")'>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control" name="prenom" placeholder="Prénom" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="nom" placeholder="Nom" required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="email" class="form-control" name="email" placeholder="Adresse email" required>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control" name="role" id="role" required>
                      <option value="">Quelle est votre poste ?</option>
                      <option value="ROLE_VISITEUR">Visiteur</option>
                      <option value="ROLE_RESPONSABLE">Responsable secteur</option>
                      <option value="ROLE_COMPTABLE">Comptable</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control" name="secteur" id="secteur">
                      <option value="">Quelle est votre secteur ?</option>
                      {% for secteur in listeSecteur %}
                            <option value="{{ secteur.secNum }}">{{ secteur.nomSecteur }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control password" name="password" placeholder="Mot de passe" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control confirm_password" name="RepeatPassword" placeholder="Confirmation du mot de passe" required>
                  </div>
                </div>
                <input type="submit" class="btn btn-primary btn-user btn-block" value="Créer un compte">
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="{{ path('login') }}">Vous avez déja un compte ?</a>
              </div>
              {% for message in app.flashes('success') %}
              <br/>
              <div class="alert alert-success">
                  {{ message }}
              </div>
              {% endfor %}
              {% for message in app.flashes('danger') %}
              <br/>
              <div class="alert alert-danger">
                  {{ message }}
              </div>
              {% endfor %}
        </div>
      </div>
    </div>

  </div>

  <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#secteur').hide();
      //Si on choisit le role Responsable alors on affiche la liste déroulante des régions
      $('#role').on('change' , function()
      {
        if(this.value == 'ROLE_RESPONSABLE')
        {
          $('#secteur').show();
          $("#secteur").prop('required',true);
        }
        else
        {
          $('#secteur').hide();
          $("#secteur").prop('required',false);
        }
      })
    });
  </script>

 <!-- Bootstrap core JavaScript-->
  <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{asset('vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{asset('js/sb-admin-2.min.js')}}"></script>

</body>

</html>
