{% extends "base.html.twig" %}

{% block body %}
<div class="tab-pane fade show active" id="ListeVisiteurs" role="tabpanel" aria-labelledby="pills-liste-tab">
    <label>Echantillons reçus : </label>
    <table id="listeMedicaments" style="width:100%;" class="table table-bordered">
        <thead>
            <tr>
                <th>Médicament</th>
                <th>Consommation</th>
                <th>Quantité restante</th>
            </tr>
        </thead>
        <tbody>
            {% for medicamentsVisiteur in listeMedicaments %}
                {% set medicaments = medicamentsVisiteur %}

                {% for medicamentInfoRep in repertoireMedicaments %}
                    {% set medicamentInfo = medicamentInfoRep %}
                    
                    {% if medicamentInfo.idMedicament == medicaments.idMedicament.idMedicament %}
                        {% if medicaments.quota <= 0 %}
                            <tr style="font-weiht: 600; background: rgb(255, 90, 90); color: white;">
                                <td>{{medicamentInfo.nomMedicament}}</td>
                                <td>{{medicaments.quota}}</td>
                                <td>{{medicaments.quota}}</td>
                            </tr>
                        {% else %}
                            <tr style="font-weiht: 600;">
                                <td>{{medicamentInfo.nomMedicament}}</td>
                                <td>{{medicaments.quota}}</td>
                                <td>{{medicaments.quota}}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}